<%- include('partials/header') %>

<% if (locals.error) {%>
<p class="error"><%= locals.error %></p>
<% } %>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4"><%= locals.name %></h2>
</div>
<%- include('partials/quizCardList', {

        quizzes: locals.quizzes
    });
    %>
</div>

<%- include('partials/footer') %>